# Signature: emFta2FyYQ==
[Desktop Entry]
Name=Ark Wizard
GenericName=System Updater
Comment=Update Ark Linux
Exec=/usr/local/bin/alga
Icon=drive-harddisk-solidstate
Terminal=false
Type=Application
DBusActivatable=true
Categories=System;
StartupNotify=true
